<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{233,192}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,57},{233,192}}</string>
                <key>sourceSize</key>
                <string>{325,310}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,341},{135,162}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,91},{135,162}}</string>
                <key>sourceSize</key>
                <string>{325,310}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{135,160}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,92},{135,160}}</string>
                <key>sourceSize</key>
                <string>{325,310}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,314},{127,162}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,91},{127,162}}</string>
                <key>sourceSize</key>
                <string>{325,310}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,618},{117,154}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,95},{117,154}}</string>
                <key>sourceSize</key>
                <string>{325,310}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,737},{115,154}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,95},{115,154}}</string>
                <key>sourceSize</key>
                <string>{325,310}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{113,146}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,99},{113,146}}</string>
                <key>sourceSize</key>
                <string>{325,310}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,867},{111,138}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,95},{111,138}}</string>
                <key>sourceSize</key>
                <string>{325,310}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,867},{109,120}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,112},{109,120}}</string>
                <key>sourceSize</key>
                <string>{325,310}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,2},{99,120}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,99},{99,120}}</string>
                <key>sourceSize</key>
                <string>{325,310}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,124},{95,74}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,135},{95,74}}</string>
                <key>sourceSize</key>
                <string>{325,310}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,443},{161,158}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,91},{161,158}}</string>
                <key>sourceSize</key>
                <string>{325,310}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{159,170}}</string>
                <key>offset</key>
                <string>{3,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,91},{159,170}}</string>
                <key>sourceSize</key>
                <string>{325,310}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,603},{151,154}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,91},{151,154}}</string>
                <key>sourceSize</key>
                <string>{325,310}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,465},{151,160}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,90},{151,160}}</string>
                <key>sourceSize</key>
                <string>{325,310}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,314},{149,164}}</string>
                <key>offset</key>
                <string>{8,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,90},{149,164}}</string>
                <key>sourceSize</key>
                <string>{325,310}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,163},{149,168}}</string>
                <key>offset</key>
                <string>{5,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,93},{149,168}}</string>
                <key>sourceSize</key>
                <string>{325,310}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{143,166}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,95},{143,166}}</string>
                <key>sourceSize</key>
                <string>{325,310}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,615},{135,158}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,87},{135,158}}</string>
                <key>sourceSize</key>
                <string>{325,310}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>blast.png</string>
            <key>size</key>
            <string>{510,1007}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3b257f4a60fcf12d253d0c91e25080a$</string>
            <key>textureFileName</key>
            <string>blast.png</string>
        </dict>
    </dict>
</plist>
