<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>beforescore_bottom.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{480,401}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{480,401}}</string>
			<key>sourceSize</key>
			<string>{480,401}</string>
		</dict>
		<key>beforescore_top.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,2},{480,399}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{480,399}}</string>
			<key>sourceSize</key>
			<string>{480,399}</string>
		</dict>
		<key>go.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,835},{297,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{297,147}}</string>
			<key>sourceSize</key>
			<string>{297,147}</string>
		</dict>
		<key>one.png</key>
		<dict>
			<key>frame</key>
			<string>{{908,690},{72,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,143}}</string>
			<key>sourceSize</key>
			<string>{72,143}</string>
		</dict>
		<key>ready.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,403},{422,331}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{422,331}}</string>
			<key>sourceSize</key>
			<string>{422,331}</string>
		</dict>
		<key>three.png</key>
		<dict>
			<key>frame</key>
			<string>{{908,403},{86,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,142}}</string>
			<key>sourceSize</key>
			<string>{86,142}</string>
		</dict>
		<key>two.png</key>
		<dict>
			<key>frame</key>
			<string>{{908,547},{83,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,141}}</string>
			<key>sourceSize</key>
			<string>{83,141}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>gamestart.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:8890c28bcb30e0a8b7a0df758cb7d4c5$</string>
		<key>textureFileName</key>
		<string>gamestart.png</string>
	</dict>
</dict>
</plist>
