<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>f0.png</key>
		<dict>
			<key>frame</key>
			<string>{{31,180},{27,35}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{27,35}}</string>
			<key>sourceSize</key>
			<string>{29,35}</string>
		</dict>
		<key>f1.png</key>
		<dict>
			<key>frame</key>
			<string>{{31,217},{21,35}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{21,35}}</string>
			<key>sourceSize</key>
			<string>{29,35}</string>
		</dict>
		<key>f2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,217},{27,35}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{27,35}}</string>
			<key>sourceSize</key>
			<string>{29,35}</string>
		</dict>
		<key>f3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,180},{27,35}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{27,35}}</string>
			<key>sourceSize</key>
			<string>{29,35}</string>
		</dict>
		<key>f4.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,33},{29,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,35}}</string>
			<key>sourceSize</key>
			<string>{29,35}</string>
		</dict>
		<key>f5.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,151},{27,35}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{27,35}}</string>
			<key>sourceSize</key>
			<string>{29,35}</string>
		</dict>
		<key>f6.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,122},{27,35}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{27,35}}</string>
			<key>sourceSize</key>
			<string>{29,35}</string>
		</dict>
		<key>f7.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,93},{27,35}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{27,35}}</string>
			<key>sourceSize</key>
			<string>{29,35}</string>
		</dict>
		<key>f8.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,64},{27,35}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{27,35}}</string>
			<key>sourceSize</key>
			<string>{29,35}</string>
		</dict>
		<key>f9.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,2},{29,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,35}}</string>
			<key>sourceSize</key>
			<string>{29,35}</string>
		</dict>
		<key>empty.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,2},{97,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,158}}</string>
			<key>sourceSize</key>
			<string>{97,158}</string>
		</dict>
		<key>full.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{97,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,158}}</string>
			<key>sourceSize</key>
			<string>{97,158}</string>
		</dict>
		<key>x.png</key>
		<dict>
			<key>frame</key>
			<string>{{54,217},{29,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{29,33}}</string>
			<key>sourceSize</key>
			<string>{29,35}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>numbers.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:b3b4a83e6d7df66b83e278e94360a31b$</string>
		<key>textureFileName</key>
		<string>numbers.png</string>
	</dict>
</dict>
</plist>
